:root {
    --corporate-color: #2196F3;
    --first-text: #212121;
    --second-text: #FFFFFF;
    --third-text: #757575;
    --background-header: #ECECEC;
    --background-tagline-and-footer: #2F303A;
    --background-team: #F5F4FA;
    --background-fff: #FFFFFF;
    --backgraund-portfolio-main: #E5E5E5;
    --web-header: #000000;
    --background-btn-portfolio: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--first-text);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--background-fff);
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

.web {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--corporate-color);
}

.webstudio{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------------------HEADER------------------- */
header {
    background-color: var(--background-header);
}

.web-header{
    color: var(--web-header);
}

.nav-item {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: inherit;
}

.nav-item:hover,
.nav-item:focus {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--corporate-color);
}

.header-contacts-item {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--third-text);
}

.header-contacts-item:hover,
.header-contacts-item:focus {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--corporate-color);
}

/* -------------------TAGLINE------------------- */
.tagline {
    background-color: var(--background-tagline-and-footer);
}

.tagline-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text);
}

.tagline-btn{
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-text);
    background-color: var(--corporate-color);
}

.tagline-btn:hover,
.tagline-btn:focus {
    cursor: pointer;
}

/* -------------------ABOUT------------------- */

.about-item-title{
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.about-item-text{
    line-height: calc(24 / 14);
    color: var(--third-text);
}

/* -------------------TASKS------------------- */

.tasks-title {
    font-size: 36px;
    line-height: calc(42 /36);
    text-align: center;
}


/* -------------------TEAM------------------- */
.team {
    background-color: var(--background-team);
}

.team-item {
    background-color: var(--background-fff);
}

.team-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
}

.team-item-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--third-text); 
}

/* -------------------FOOTER------------------- */

.web-footer{
    color: var(--second-text);
}

footer {
    background-color: var(--background-tagline-and-footer);
}

address{
    font-style: normal;
}

.footer-addres {
    line-height: calc(24 / 12);
    color: var(--second-text);
}

.footer-item {
    line-height: calc(24 / 12);
    color: rgba(255, 255, 255, 0.6);
}


/* -------------------PORTFOLIO------------------- */

.header-portfolio {
    background-color: var(--background-fff);
}

/* -------------------NAV_PORTFOLIO------------------- */
.nav-portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    color: var(--first-text);
    background-color: var(--background-btn-portfolio);
}

.nav-portfolio-btn:hover,
.nav-portfolio-btn:focus {
    color: var(--second-text);
    background-color: var(--corporate-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 12);
    text-align: center;
    color: var(--second-text);
}

/* -------------------SERVICES------------------- */

.services-item-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--first-text);
}

.services-item-text {
    font-size: 16px;
    line-height: calc(30 /16);
    color: var(--third-text);    
}
