:root {
    --corporate-color: #2196F3;
    --first-text: #212121;
    --second-text: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ECECEC;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

.webstudio{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------------------HEADER------------------- */
.web-header{
    color: #000000;
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--first-text);
}

.nav-item:hover,
.nav-item:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--corporate-color);
}

.header-contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--corporate-color);
}

/* -------------------TAGLINE------------------- */
.tagline {
    background-color: #2F303A;
}

.tagline-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text);
}

.tagline-btn{
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-text);
}

/* -------------------ABOUT------------------- */

.about-item-title{
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text);
}

.about-item-text{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

/* -------------------TASKS------------------- */

.tasks-title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
}


/* -------------------TEAM------------------- */
.team {
    background-color: #F5F4FA;
}

.team-item {
    background-color: #ffffff;
}

.team-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
}

.team-item-text {
    font-size: 16px;
    line-height: calc(19 /16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575; 
}

/* -------------------FOOTER------------------- */

.web-footer{
    color: #FFFFFF;
}

footer {
    background-color: #2F303A;
}

address{
    font-style: normal;
}

.footer-addres {
    font-size: 14px;
    line-height: calc(24 / 12);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-item {
    font-size: 14px;
    line-height: calc(24 / 12);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* -------------------PORTFOLIO------------------- */

/* -------------------NAV_PORTFOLIO------------------- */
.nav-portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
}

.nav-portfolio-btn:hover,
.nav-portfolio-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 12);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text);
}
